# Python bytecode caches
__pycache__/
*.py[cod]
*$py.class

# Local environment and IDE settings
.venv/
venv/
ENV/
.vscode/
.idea/

# Heavy Space Science Telemetry Assets
*.fits
data/raw/
temp_uploaded_target.fits

# Heavy Cached Binary Matrices (DO NOT UPLOAD)
data/processed/
*.npy

# NOTE: We are intentionally allowing models/transit_cnn.pth to upload 
# so the Streamlit Cloud server has access to the trained weights!